/*
 cornsilk: #fff8dc
 petrol: #005666
 green: #104a25
 yellow: #ef830e
 red: #ad2c17
  */
body {
 background-image: url('../img/background.png');
 background-repeat: repeat;
 height: 100%;
 width: 100%;
 text-align: center;
}

.carousel-outer{
	position: relative;
	background:#fff8dc;
	left: 10%;
  width:80%;
  height : auto;
  top: 0px;
	text-align: center;
	box-shadow: 5px 0px 50px #fff8dc;
	font-family: 'Tangerine';
  border-radius:1%;
  -webkit-border-radius:1%;
  -moz-border-radius:1%;
}

.carousel-inner > .item {
    .transition(.2s ease-in-out left);
}

h1{
	font-size: 72px;
}

h2{
	font-size: 48px;
}
h3{
	font-size: 38px;
}

a {
  color: #104a25;
  font-family: serif;
}

#wichtig{
	color:#ad2c17;
	opacity:0.9
}


.carousel-control.left,
.carousel-control.right {
	background: none
}

.padding{
	padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
}

.impressum-left {
	position: fixed;
	top: 50%;
    text-align: right;
    float: left;
    padding-left: 3%;
    font-size: 28px;

}

.countdown-row {
	margin:0 auto;
	display:inline-block;
}

.countdown-section {
	display: inline-block;
	float: left;
	text-align: center;
	width:80px;
	height:80px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border:solid 2px  #005666;
	text-align:center;
	margin:50px 20px;
}

.countdown-amount {
    font-size: 48px;
	font-weight:700;
	line-height:70px;
}
.countdown-period {
    display: block;
	line-height:60px;
	color:#ad2c17;
	font-size:28px;
	font-weight:100;
}

#rotate {
  transform: rotate(180deg);
}

#impressum{
	font-family: "Impact", Charcoal, sans-serif;
}
